@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
img{
    border-radius: 15px;
}

body{
    background-color: #ECEBE9;
    height: 100vh;
    overflow-x: hidden;
}

.section-background{
    background-color: #ffffff;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 8px ), repeating-linear-gradient( #dccbb555, #dccbb5 );
    position: relative;
    font-weight: 600;
}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: start;
    justify-content: left;
    background: linear-gradient(to right, #ff3632, #ff1d18, #ff4f4b);
    color: white;
    position: relative;
    border-bottom: 1.5px solid #000000;
}


.header-logo{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;   
}

.header-logo-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 30%;
    margin-right: 0.5%;
}

.header-logo-img img {
    width: 4.5rem;
    height: 4rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(308deg) brightness(106%) contrast(103%);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 20%;
    height: 100%;
}

nav li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li a{
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

nav li a:after{
    content: '';
    position: absolute;
    background-color: #eeb37b;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav li a:hover{
    color: #eeb37b;
}

nav li a:hover:after{
    width: 100%;
}

.header-seta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.header-seta img{
    width: 2rem;
    height: 2rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(308deg) brightness(106%) contrast(103%);
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;

}

.main-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
    font-size: large;
}

.first-line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.first-line-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 90%;
    flex-direction: column;
    text-align: justify;
}

.first-line-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 90%;
}

.first-line-img img{
    width: 90%;
    height: 100%;
}

.second-line{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.second-line-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 90%;
}

.second-line-img img{
    width: 90%;
    height: 100%;
}

.second-line-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 90%;
    flex-direction: column;
    text-align: justify;
}

.third-line{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.third-line-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 60%;
    flex-direction: column;
    text-align: center;
}

.third-line-phrase{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    flex-direction: column;
    font-size: larger;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 350px;
}

.svg{
    position: relative;
    margin-bottom: 0;
}


.waves{
    position: absolute;
    bottom: 78%;
    left: 0;
    right: 0;
    transform: scaleX(200%);
}

.wave-3{
    animation: moveWave3 3s ease-in-out infinite alternate;
}

@keyframes moveWave3{
    from{
        transform: translateX(-200px);
    }
}

.wave-2{
    animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
}

@keyframes moveWave2{
    from{
        transform: translateX(-180px);
    }
}

    .wave-1{
        animation: moveWave1 3s 0.7s ease-in-out infinite alternate;
    }
    
    @keyframes moveWave1{
        from{
            transform: translateX(-160px);
        }
    }
    
footer{
    background-color: #4495cc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80%;
}

.img-link{
    width: 70%;
    height: 50%;
}