@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

hr {
	width: 100%;
	height: 3px;
	border-top-width: 1px;
    margin: 40px;
	}
    
    .hr-header{
        margin: 0;
        margin-bottom: 45px;
    }

body{
    background-color: #ECEBE9;
    height: 100vh;
    width: 100vw;
}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: start;
    justify-content: left;
    background-color: #ECEBE9;
    gap: 0;
/* linear gradient */
}


.header-logo{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;   
}

.header-logo-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 30%;
    margin-right: 0.5%;
}

.header-logo-img img {
    width: 4.5rem;
    height: 4rem;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 20%;
    height: 100%;
}

nav li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li a{
    color: #000;
}

.header-seta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.header-seta img{
    width: 2rem;
    height: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}


.cristo-redentor{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.cristo-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 90%;
}

.cristo-img img{
    width: 90%;
    height: 100%;
}

.cristo-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 90%;
    flex-direction: column;
    /* font-size: larger; */
    text-align: justify;
}
